.cardContainer {
  background-color: $grey-1;
  .cardImage {
    width: 100%;
    height: 200px;

    .iconContainer {
      height: 0px;
      .icon {
        position: relative;
        top: -25px;
        left: 25px;
        width: 50px;
        height: 50px;
      }
    }

    .bgImage {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  .cardBody {
    padding: 30px;
    h1 {
      font-size: 16px;
      text-transform: uppercase;
    }
    .description {
      font-size: 12px;
      height: 50px
    }
  }
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    width: 48%;
    margin-top: 40px;

    .cardBody {
      .description {
        height: 70px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .cardContainer {
    width: 32%;
  }
}