.iconLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  .icon {
    margin-bottom: 5px;
    cursor: pointer;
  }

  a {
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color: $green;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .iconLayout {
    width: 25%;
  }
}