.section {
  padding: 20px 50px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -140px;

  .seeMore {
    display: flex;
    justify-content: flex-end;
  }

  .sectionMargin {
    margin-top: 130px;
  }

  .description {
    margin-top: 0;
  }

  p {
    color: white;
    font-size: 14px;
  }

  .readmore {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .contactLeft {
    margin-bottom: 50px;
  }

  .contactRight {
    display: flex;
    flex-direction: column;
  } 

  .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    p {
      margin-top: 0;
      margin-bottom: 5px;

      &:last-child {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .contactLeft {
    width: 100%;
  }
  .contactRight {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .contactLeft {
    width: 50%;
  }
  .contactRight {
    width: 50%;
  }
}